body {
    background-color: #fff;
    padding: 20px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    font-weight: 400;
	display: flex;
  	flex-wrap: wrap;
}



.wrapper {
	
	margin: 0 auto
}


header {
	width: 300px;
	position: sticky;
	top: 0;
}

section {
	width: 500px;
	float: right;
	padding-bottom: 50px; 
}
   /* float: left */


.view {
	margin: 20px
}


h1,h2,h3,h4,h5,h6 {
    color: #222;
    margin: 0 0 20px
}

p,ul,ol,table,pre,dl {
    margin: 0 0 20px
}

h1,h2,h3 {
    line-height: 1.1
}

h1 {
    font-size: 28px
}

h2 {
    color: #393939
}

h3,h4,h5,h6 {
    color: #494949
}


a {
    color: #267CB9;
    text-decoration: none
}

a:hover,a:focus {
    color: #069;
    font-weight: bold
}

h:hover,h:focus{
	color: #069;
    font-weight: bold
}


a small {
    font-size: 11px;
    color: #777;
    margin-top: -0.3em;
    display: block
}

a:hover small {
    color: #777
}






h1 {
  margin-top: 0;
}

/* Sidebar on the left */

/* .main-layout {
  display: flex;
  min-height: 100vh;
}  */

	.site-logo {
  width: 200px;         /* Adjust as needed */
  height: 205px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  /*margin: 0 auto 1em auto;*/
}

.url{
 font-size: 2em
}

.footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased
}

/* Main content on the right */
.content {
  flex: 1;
  padding: 2em;
}

@media print, screen and (max-width: 960px) {
    div.wrapper {
        width:auto;
        margin: 0
    }

	
	}
    header,section,footer {
        float: none;
        position: static;
       /* width: auto  */
    }

	}
	
    header {
        padding-right: 320px
    }
	
    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px
    }

    header a small {
        display: inline
    }

}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap:break-word
    }

    header {
        padding: 0
    }

    header p.view {
        position: static
    }

    pre,code {
        word-wrap: normal
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding:15px
    }

    .downloads {
        width: 99%
    }

    .downloads li,.downloads li+li+li {
        width: 33%
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444
    }
}
