<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <!-- Add any other CSS or meta tags you need -->
  </head>
  <body>
    <div class="wrapper">
     <header>
      <h1> 
       <a href= "https://aldoreyes84.github.io/AldoReyes.github.io"/>
        AldoReyes.github.io
       </a>
      </h1>
        {% if site.logo %}
      <img src="{{ site.logo }}" alt="logo" class="site-logo">
      {% endif %}
        
        <p class="view">
          <a href="https://github.com/AldoReyes84/working_experience">
          View the Project on GitHub
          <small>AldoReyes84/Working Experience</small>
         </a> 
        </p>

        <h3 id="Aldo Reyes Portfolio">
          <a href="https://aldoreyes84.github.io/AldoReyes.github.io"/>
          Aldo Reyes Portfolio
          </a>
        </h3>

       <P>
        <h2>{{ site.title }}
        </h2> <small>in Business Intelligence</small>
       </P>

       
       <h3>
         <p>
          <a href="#Intel Project Analyst">
              Intel Project Analyst
           <small> Nov 2022 to Mar 2025  </small>
          </a>
         </p>
        </h3>

      <h3>
         <p>
          <a href="#Conagra Sales Analyst">
              Conagra Sales Analyst
           <small> Mar 2017 to Jan 2020  </small>
          </a>
         </p>
        </h3>
            
 
      <footer>
        <p>This project is maintained by 
        <a href="https://github.com/AldoReyes84">
          AldoReyes84
        </a>
        </p>
        <p>
            <small>Hosted on GitHub Pages — Theme by
           <a href="https://github.com/orderedlist">
          orderedlist
            </a>
          </small>
        </p>
      </footer>
      </header>
        <section>
       {{ content }}
        </section> 
      </div> 
    
      <aside id="layout-body-aside" class="layout-body-aside">
      <div id="working-experience-index" class="working-experience-index">        
      <nav id="side-doc-outline">
        <h3>Working experience</h3>
          <h3>Intel</h3>
          <h3>Project Analist</h3>
        <ul id=intel-project-analyst>
          <li class="border-left-md padding-left">
            <a href="#🎓-certified-instructor-program-dashboard">Certified Instructor Program Dashboard</a> 
          </li>
          <li class="border-left-md padding-left">
            <a href="#dashboard-design-&-business-intelligence">Dashboard Design & Business Intelligence</a> 
          </li>
          <li class="border-left-md padding-left">
            <a href="#data-integration-&-modeling">Data Integration & Modeling</a> 
          </li>
          <li class="border-left-md padding-left">
            <a href="#insight-generation-&-visualization">Insight Generation & Visualization</a> 
          </li>
          <li class="border-left-md padding-left">
            <a href="#🎓-certified-instructor-program-dashboard">Certified Instructor Program Dashboard</a> 
          </li>
          <li class="border-left-md padding-left">
            <a href="workshop-quality-survey-dashboard">Workshop Quality Survey Dashboard</a> 
          </li>
          <li class="border-left-md padding-left">
            <a href="#developers-trained">Developers Trained</a> 
          </li>
          <li class="border-left-md padding-left">
            <a href="#docebo-dashboard">Docebo Dashboard</a> 
          </li>
          <br>
          <h3>Conagra Brands</h3>
        <ul id=Conagra Brands>
          <li class="border-left-md padding-left">
            <a href="#conagra-sales-analyst">Conagra Sales Analyst</a> 
          </li>
          <li class="border-left-md padding-left">
            <a href="#oparational-leadership-&-process-manager">Operational Leadership & Process Manager</a> 
          </li>
          <li class="border-left-md padding-left">
            <a href="#management-control-analyst">Managment Control Analyts</a> 
          </li>
      </ul>
      </nav>    
      </div>
    </aside>
      
   
  </body>
</html>
